/* Shared styles */
* {
    margin: 0px;
    padding: 0px;
}

.shared-margin {
    margin: 2% 10%;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 40px 10px 40px;
}


/* header related styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
    background-image: url(..images/backgroundImage.png);
    padding-left: 240px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    padding: 100px 580px 30px 0px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 20px 620px 30px 0px;
}

.shop-now {
    margin-bottom: 160px;
}

/* About us related styles */
.about-us {
    /* margin: 100px 0px 45px 0px; */
    text-align: center;
    background-color: rgba(229, 84, 115, 0.10);
}

.about-us-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.about-us-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

/* Featured flower styles */
.featured-flower {
    margin: 100px 150px 45px 150px;
    /* text-align: center; */
}

.featured-flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-description {
    /* max-width: 600px; */
    /* margin-left: 280px; */
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flower-pic-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 240px 20px 240px;
    /* margin: 0px 50px; */
    border-radius: 300px 300px 0px 0px;
    /* background: rgba(167, 33, 98, 0.15); */
    gap: 10px;
}

#flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 5%;

}

#flower-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

#flower-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.feature-flower-description-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 240px 20px 240px;
    text-decoration: underline;
}

/* Service related styles */
.services-container {
    display: flex;
    padding: 20px 240px 20px 240px;
    /* margin-top: 100px; */
    justify-content: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

/* sign up related styles */
.sign-up-container {
    display: flex;
    padding: 100px 150px 45px 150px;
    margin-top: 100px;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.sign-up-text-part-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 40%;
}

.sign-up-text-part-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px;
}

.sign-up-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;

}

.sign-up-image-part {
    /* padding: 0% 0% 50% 0%; */
    width: 30%;
    height: 40%;
    flex-shrink: 0;
}

/* instagram-related styles */
.instagram-part-container {
    margin: 100px 150px 45px 150px;
}

.instagram-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.instagram-part-pic {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/* Subscribe related styles */
.subscribe-part-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.subscribe-part-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}

.subscribe-part-container {
    background-image: url(../images/Rectangle\ 9.png);
    padding: 100px 100px;
}

.subscribe-part-button {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Fotter related styles */
.footer-section {
    background: #111010;
    padding: 10% 25%;
}

.footer-section-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.white-text {
    color: white;
}

.footer-section-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copy-write-section {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 3%;
}