/* Shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 40px 10px 40px;
}

/* header related styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
    background-image: url(../images/pngwing\ 10.png);
    padding-left: 240px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 700;
    padding: 100px 580px 30px 0px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding: 20px 620px 30px 0px;
}

.shop-now {
    margin-bottom: 160px;
}

/* Featured flower styles */
.featured-flower-pic-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 240px 20px 240px;
    border-radius: 300px 300px 0px 0px;
    /* background: rgba(167, 33, 98, 0.15); */
    gap: 10px;
}

#flower-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#flower-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
#flower-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.feature-flower-description-container{
    display: flex;
    justify-content: space-around;
    padding: 20px 240px 20px 240px;
    text-decoration: underline;
}